# Módulo 2: 
### Tipos de datos, variables, operaciones básicas de entrada y salida, operadores básicos.

En este módulo, aprenderás acerca de:

- Módulos de Python: su lógica, su función, cómo importarlos de diferentes maneras y presentar el contenido de algunos módulos estándar proporcionados por Python.
- Los tipos de datos y los métodos básicos de formateo, conversión de datos, entrada y salida de datos.
- Operadores.
- Variables.

## 1.1 Tipos de datos y variables

In [ ]:
#Todos son objetos en Python
print(type("Hola"))
print(type(True))
print(type(1.0))
print(type(1))
print(type(0b101))

<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>
<class 'int'>

In [ ]:
# Podemos utilizar identificadores con caracteres del español
púño = 5
print("púño:",púño)
print("Dirección de memoria del objeto púño:",id(púño))

púño: 5
Dirección de memoria del objeto púño: 10914624

In [ ]:
a = 3 
print("Dirección de memoria:",id(a))
a = 4 # objeto distinto al anterior, aunque utiliza el mismo identificador
print("Dirección de memoria:",id(a))

Dirección de memoria: 10914560
Dirección de memoria: 10914592

In [ ]:
# ¡Fuga de memoria!
a = 5
print("Dirección de memoria del primer objeto de nombre a:",id(a))
a = a + 7
print("a:",a)
print("Dirección de memoria del segundo objeto de nombre a:",id(a))

Dirección de memoria del primer objeto de nombre a: 10914624
a: 12
Dirección de memoria del segundo objeto de nombre a: 10914848

In [ ]:
# La clase 'int' puede ser representada en otras bases
num = 0b101 # literal binario
print("num:",num)
num = 0x1f # literal hexadecimal
print("num:",num)
num = 0o17 # literal octal
print("num:",num)

num: 5
num: 31
num: 15

En Python no hay modificadores que tornen una variable sólo de lectura, i.e., constante. Sin embargo, por convención universal, se utilizan identificadores en mayúscula y _ para el nombre de 'constantes'

In [ ]:
PI = 3.14
SALUDO_FRATERNO = '¡Hola, hermano!'
DE_PIES_A_METROS = 0.3048

## 1.2 Operaciones básicas de entrada y salida

In [ ]:
msj = "Hello\n\n\tWorld"
print(msj)
msj = "Hello\bWorld"
print(msj)
msj = "Hello\\ \"wonderful\" World"
print(msj)

Hello

	World
HelloWorld
Hello\ "wonderful" World

In [ ]:
print("Mi", "nombre", "es", "Monty", "Python.", end="\t2."); print("test1"); print("test2") # default end="\n"
print("Mi", "nombre", "es", "Monty", "Python.", sep="\t") # default sep=" "
print()
print("Mi", "nombre", "es", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")
print()
print('Me gusta "Monty Python"')

Mi nombre es Monty Python.	2.test1
test2
Mi	nombre	es	Monty	Python.

Mi_nombre_es*Monty*Python.*

Me gusta "Monty Python"

In [ ]:
dia = input("Ingrese el día de hoy: ")
print("dia:",dia)
print("type(dia):",type(dia))
# ¡dia + 1  nos da Error!
dia = int(dia)
print("type(dia):",type(dia))
print("dia + 1:", dia + 1)

Ingrese el día de hoy: 3
dia: 3
type(dia): <class 'str'>
type(dia): <class 'int'>
dia + 1: 4

## 1.3 Operadores básicos

In [ ]:
# operadores de literales en otra base
num = 17 
print("num:",hex(num))
print("num:",oct(num))
print("num:",bin(num))
print("type(dia):",type(num))

num: 0x11
num: 0o21
num: 0b10001
type(dia): <class 'int'>

In [ ]:
# Conversión de tipos y operador int
print(int(True))
print(int(False))
print(True < False)
print(int(True < False))
print(False)
print('False')

1
0
False
0
False
False

In [ ]:
""" Operadores aritméticos
 Operador de div: //
 Operador de mod: %
 Operador de división: /
 Operador de exponenciacion: **
"""
print(1//2)
print(1%2)
print(1/2)
print(2**10)

0
1
0.5
1024

In [ ]:
# operador round y notación científica
print(round(5.655,2))
print(round(5.655,1))
print(round(5.649,1))
print(2.57E3)

5.66
5.7
5.6
2570.0

## 1.4 Aplicaciones

In [ ]:
# Cálculo del IMC

nombre = input("Ingrese su nombre: ")
masa = float(input("Ingreses su masa en kg.: "))
altura = float(input("Ingreses su altura en m.: "))
imc = masa/(altura**2)
print(nombre,"su IMC es",round(imc,2))

Ingrese su nombre: Juan
Ingreses su masa en kg.: 68
Ingreses su altura en m.: 1.71
Juan su IMC es 23.26